/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
/.idea
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.env
curl-7.64.0/
curl-7.81.0/
git-2.15.1/
openssl-1.1.1b/
